In [2]:
import pandas as pd
import numpy as np

In [24]:
df_a = pd.read_csv("data_fianl.csv", encoding="cp949")
df_b = pd.read_csv("매출원가율.csv", encoding='cp949')
df_a.drop(columns=["Unnamed: 0"], inplace=True)
df_b.drop(columns=["Unnamed: 0"], inplace=True)

In [15]:
df_a=df_a.sort_values(["회사명","회계년도"])
df_a

              회사명   거래소코드    회계년도      매출원가감소율     채울열
0          AJ네트웍스   95570  15-Dec          NaN   0.000
1          AJ네트웍스   95570  16-Dec          NaN   0.000
2          AJ네트웍스   95570  17-Dec          NaN   0.000
3          AJ네트웍스   95570  18-Dec          NaN  18.040
4          AJ네트웍스   95570  19-Dec          NaN   0.000
...           ...     ...     ...          ...     ...
15145  희림종합건축사사무소   37440  18-Dec  2.380952381  83.645
15146  희림종합건축사사무소   37440  19-Dec  2.325581395  73.735
15147          힘스  238490  17-Dec          NaN  80.020
15148          힘스  238490  18-Dec          NaN  81.150
15149          힘스  238490  19-Dec          NaN  80.980

[15150 rows x 5 columns]

In [16]:
df_b = df_b.sort_values(["회사명","회계년도"])
df_b

             회사명    회계년도   거래소코드  매출원가율
5578      AJ네트웍스  15-Dec   95570  0.93
5579      AJ네트웍스  16-Dec   95570  0.95
5580      AJ네트웍스  17-Dec   95570  0.57
5581      AJ네트웍스  18-Dec   95570  1.01
5582      AJ네트웍스  19-Dec   95570  0.99
...          ...     ...     ...    ...
5573  희림종합건축사사무소  18-Dec   37440  0.84
5574  희림종합건축사사무소  19-Dec   37440  0.86
5575          힘스  17-Dec  238490  1.00
5576          힘스  18-Dec  238490  1.00
5577          힘스  19-Dec  238490  1.00

[9029 rows x 4 columns]

In [18]:
# merge("A","B",how="left")했는데 안돼서 A.merge(B,how="left")했더니 됨!^^ 
df3 = pd.merge(df_b, df_a, on=['회사명','회계년도'], how="left")
df3

             회사명    회계년도  거래소코드_x  매출원가율  거래소코드_y      매출원가감소율     채울열
0         AJ네트웍스  15-Dec    95570  0.93     95570          NaN   0.000
1         AJ네트웍스  16-Dec    95570  0.95     95570          NaN   0.000
2         AJ네트웍스  17-Dec    95570  0.57     95570          NaN   0.000
3         AJ네트웍스  18-Dec    95570  1.01     95570          NaN  18.040
4         AJ네트웍스  19-Dec    95570  0.99     95570          NaN   0.000
...          ...     ...      ...    ...      ...          ...     ...
9024  희림종합건축사사무소  18-Dec    37440  0.84     37440  2.380952381  83.645
9025  희림종합건축사사무소  19-Dec    37440  0.86     37440  2.325581395  73.735
9026          힘스  17-Dec   238490  1.00    238490          NaN  80.020
9027          힘스  18-Dec   238490  1.00    238490          NaN  81.150
9028          힘스  19-Dec   238490  1.00    238490          NaN  80.980

[9029 rows x 7 columns]

In [21]:
df3.rename(columns = {'채울열':'산업중간값'},inplace=True)
df3

             회사명    회계년도  거래소코드_x  매출원가율  거래소코드_y      매출원가감소율   산업중간값
0         AJ네트웍스  15-Dec    95570  0.93     95570          NaN   0.000
1         AJ네트웍스  16-Dec    95570  0.95     95570          NaN   0.000
2         AJ네트웍스  17-Dec    95570  0.57     95570          NaN   0.000
3         AJ네트웍스  18-Dec    95570  1.01     95570          NaN  18.040
4         AJ네트웍스  19-Dec    95570  0.99     95570          NaN   0.000
...          ...     ...      ...    ...      ...          ...     ...
9024  희림종합건축사사무소  18-Dec    37440  0.84     37440  2.380952381  83.645
9025  희림종합건축사사무소  19-Dec    37440  0.86     37440  2.325581395  73.735
9026          힘스  17-Dec   238490  1.00    238490          NaN  80.020
9027          힘스  18-Dec   238490  1.00    238490          NaN  81.150
9028          힘스  19-Dec   238490  1.00    238490          NaN  80.980

[9029 rows x 7 columns]

In [22]:
df3.to_csv("데이터프레임.csv",encoding='cp949')

In [27]:
df_b = pd.read_csv("./데이터프레임.csv", encoding='cp949')
df_b.drop(columns=["Unnamed: 0"], inplace=True)
df_b

             회사명    회계년도  거래소코드_x 매출원가율      매출원가감소율   산업중간값 산업중간값 여부 감소율 여부
0         AJ네트웍스  15-Dec    95570  0.93          NaN   0.000        1      0
1         AJ네트웍스  16-Dec    95570  0.95          NaN   0.000        1      0
2         AJ네트웍스  17-Dec    95570  0.57          NaN   0.000        1      0
3         AJ네트웍스  18-Dec    95570  1.01          NaN  18.040        0      0
4         AJ네트웍스  19-Dec    95570  0.99          NaN   0.000        1      0
...          ...     ...      ...   ...          ...     ...      ...    ...
9024  희림종합건축사사무소  18-Dec    37440  0.84  2.380952381  83.645        0      0
9025  희림종합건축사사무소  19-Dec    37440  0.86  2.325581395  73.735        0      0
9026          힘스  17-Dec   238490     1          NaN  80.020        0      0
9027          힘스  18-Dec   238490     1          NaN  81.150        0      0
9028          힘스  19-Dec   238490     1          NaN  80.980        0      0

[9029 rows x 8 columns]

In [28]:
df_b["매출원가감소율여부"]=""
df_b

,회사명,회계년도,거래소코드_x,매출원가율,매출원가감소율,산업중간값,산업중간값 여부,감소율 여부,매출원가감소율여부
0,AJ네트웍스,15-Dec,95570,0.93,NaN,0.000,1,0,
1,AJ네트웍스,16-Dec,95570,0.95,NaN,0.000,1,0,
2,AJ네트웍스,17-Dec,95570,0.57,NaN,0.000,1,0,
3,AJ네트웍스,18-Dec,95570,1.01,NaN,18.040,0,0,
4,AJ네트웍스,19-Dec,95570,0.99,NaN,0.000,1,0,
...,...,...,...,...,...,...,...,...,...
9024,희림종합건축사사무소,18-Dec,37440,0.84,2.380952381,83.645,0,0,
9025,희림종합건축사사무소,19-Dec,37440,0.86,2.325581395,73.735,0,0,
9026,힘스,17-Dec,238490,1,NaN,80.020,0,0,
9027,힘스,18-Dec,238490,1,NaN,81.150,0,0,
9028,힘스,19-Dec,238490,1,NaN,80.980,0,0,

In [53]:
df_b=df_b.rename(columns={'산업중간값 여부':'산업중간값여부','감소율 여부':'감소율여부'})
df_b=df_b.fillna(0)

df.loc[행 인덱싱값,열 인덱싱 값]

In [58]:
df_b['산업중간값여부']=df_b['산업중간값여부'].replace('#DIV/0!',0)
df_b['감소율여부']=df_b['감소율여부'].replace('#DIV/0!',0)
df_b['산업중간값여부']=df_b['산업중간값여부'].replace('#NAME?',0)
df_b['감소율여부']=df_b['감소율여부'].replace('#NAME?',0)

In [59]:
df_b['산업중간값여부'].astype('int')
df_b['감소율여부'].astype('int')

0       0
1       0
2       0
3       0
4       0
       ..
9024    0
9025    0
9026    0
9027    0
9028    0
Name: 감소율여부, Length: 9029, dtype: int32

In [41]:
for i in range(0,len(df_b)):
        if (df_b.loc[i,'산업중간값여부'] == 1) | (df_b.loc[i,'감소율여부'] == 1):
                df_b.loc[i,'매출원가감소율여부'] = 1
        else:
                df_b.loc[i,'매출원가감소율여부'] = 0

In [60]:
for i in range(0,len(df_b)):
        if ((df_b['산업중간값여부'][i] == 1) | (df_b['감소율여부'][i] == 1)):
                df_b['매출원가감소율여부'][i] = 1
        else:
                df_b['매출원가감소율여부'][i] = 0

C:\Users\user\AppData\Local\Temp\ipykernel_12476\3998212164.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_b['매출원가감소율여부'][i] = 1
C:\Users\user\AppData\Local\Temp\ipykernel_12476\3998212164.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_b['매출원가감소율여부'][i] = 0

In [49]:
int(df_b['산업중간값여부'][0])

1

In [61]:
df_b

,회사명,회계년도,거래소코드_x,매출원가율,매출원가감소율,산업중간값,산업중간값여부,감소율여부,매출원가감소율여부
0,AJ네트웍스,15-Dec,95570,0.93,0,0.000,1,0,1
1,AJ네트웍스,16-Dec,95570,0.95,0,0.000,1,0,1
2,AJ네트웍스,17-Dec,95570,0.57,0,0.000,1,0,1
3,AJ네트웍스,18-Dec,95570,1.01,0,18.040,0,0,0
4,AJ네트웍스,19-Dec,95570,0.99,0,0.000,1,0,1
...,...,...,...,...,...,...,...,...,...
9024,희림종합건축사사무소,18-Dec,37440,0.84,2.380952381,83.645,0,0,0
9025,희림종합건축사사무소,19-Dec,37440,0.86,2.325581395,73.735,0,0,0
9026,힘스,17-Dec,238490,1,0,80.020,0,0,0
9027,힘스,18-Dec,238490,1,0,81.150,0,0,0
9028,힘스,19-Dec,238490,1,0,80.980,0,0,0

In [62]:
df_b.to_csv("매출원가감소율여부.csv",encoding='cp949')

In [65]:
df_c = pd.read_csv("C:/Users/user/Desktop/data/전체데이터.csv", encoding="cp949",index_col=0)
df_c

,회사명,거래소코드,회계년도,이자보상배율,총자산증가율,유형자산증가율,유동자산증가율,매출액증가율,재고자산증가율,자기자본증가율,...,재고자산_대_유동자산비율,재고자산_대_순운전자본비율,순운전자본비율,노동장비율,기계장비율,자본집약도,설비투자효율,총자본투자효율,부가가치율,직원감소율여부
0,CMG제약,58820,11-Dec,3.53,1.98,-5.90,17.64,56.40,-1.43,-2.02,...,17.88,35.59,28.23,71.32,19.75,204.06,35.86,12.72,19.56,0
1,CMG제약,58820,12-Dec,-7.75,109.15,-4.12,207.08,-8.43,7.73,75.17,...,6.27,7.33,70.60,69.14,18.64,425.29,2.89,0.47,1.66,0
2,CMG제약,58820,13-Dec,0.70,-2.09,16.09,-18.89,25.51,56.29,55.10,...,12.09,14.12,58.50,66.01,17.77,411.48,77.91,12.51,34.29,0
3,CMG제약,58820,14-Dec,3.60,3.86,74.30,-25.93,11.52,6.37,0.01,...,17.36,25.09,33.72,113.90,32.60,354.43,37.80,12.16,31.04,1
4,CMG제약,58820,15-Dec,-32.22,-2.64,-5.37,-7.17,18.85,11.04,-4.48,...,20.77,31.32,30.82,114.25,30.43,362.77,24.21,7.63,15.96,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8826,흥아해운,3280,14-Dec,1.12,13.69,45.19,-13.68,7.17,-8.50,7.76,...,8.60,0.00,-12.59,423.67,0.00,831.53,27.88,13.89,10.93,0
8827,흥아해운,3280,15-Dec,1.02,21.93,49.36,-11.18,2.42,-12.92,3.39,...,8.43,0.00,-15.94,589.65,0.00,948.60,21.49,13.11,12.28,0
8828,흥아해운,3280,16-Dec,0.21,21.08,38.84,-25.08,-1.58,56.39,11.22,...,17.60,0.00,-16.34,703.55,0.00,1000.62,15.81,10.98,12.66,0
8829,흥아해운,3280,17-Dec,-0.42,-11.43,-16.50,13.29,0.56,11.18,-39.28,...,17.27,0.00,-24.48,0.00,0.00,0.00,8.35,5.43,5.51,0
8830,흥아해운,3280,18-Dec,-1.16,-5.33,-12.07,-6.33,-9.87,-5.85,-37.42,...,17.36,0.00,-25.40,0.00,0.00,0.00,6.91,4.24,4.52,0

In [66]:
df_b

,회사명,회계년도,거래소코드_x,매출원가율,매출원가감소율,산업중간값,산업중간값여부,감소율여부,매출원가감소율여부
0,AJ네트웍스,15-Dec,95570,0.93,0,0.000,1,0,1
1,AJ네트웍스,16-Dec,95570,0.95,0,0.000,1,0,1
2,AJ네트웍스,17-Dec,95570,0.57,0,0.000,1,0,1
3,AJ네트웍스,18-Dec,95570,1.01,0,18.040,0,0,0
4,AJ네트웍스,19-Dec,95570,0.99,0,0.000,1,0,1
...,...,...,...,...,...,...,...,...,...
9024,희림종합건축사사무소,18-Dec,37440,0.84,2.380952381,83.645,0,0,0
9025,희림종합건축사사무소,19-Dec,37440,0.86,2.325581395,73.735,0,0,0
9026,힘스,17-Dec,238490,1,0,80.020,0,0,0
9027,힘스,18-Dec,238490,1,0,81.150,0,0,0
9028,힘스,19-Dec,238490,1,0,80.980,0,0,0

In [70]:
merge = pd.merge(df_c,df_b, how='inner',on=['회사명',"회계년도","거래소코드"])

KeyError: '거래소코드'

In [69]:
merge

,회사명,거래소코드,회계년도_x,이자보상배율,총자산증가율,유형자산증가율,유동자산증가율,매출액증가율,재고자산증가율,자기자본증가율,...,부가가치율,직원감소율여부,회계년도_y,거래소코드_x,매출원가율,매출원가감소율,산업중간값,산업중간값여부,감소율여부,매출원가감소율여부
0,CMG제약,58820,11-Dec,3.53,1.98,-5.90,17.64,56.40,-1.43,-2.02,...,19.56,0,11-Dec,58820,0.58,-24.14,41.73,0,1,1
1,CMG제약,58820,11-Dec,3.53,1.98,-5.90,17.64,56.40,-1.43,-2.02,...,19.56,0,12-Dec,58820,0.72,19.44,41.84,0,0,0
2,CMG제약,58820,11-Dec,3.53,1.98,-5.90,17.64,56.40,-1.43,-2.02,...,19.56,0,13-Dec,58820,0.61,-18.03,43.25,0,0,0
3,CMG제약,58820,11-Dec,3.53,1.98,-5.90,17.64,56.40,-1.43,-2.02,...,19.56,0,14-Dec,58820,0.63,3.17,44.93,0,0,0
4,CMG제약,58820,11-Dec,3.53,1.98,-5.90,17.64,56.40,-1.43,-2.02,...,19.56,0,15-Dec,58820,0.64,1.56,48.21,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75831,흥아해운,3280,18-Dec,-1.16,-5.33,-12.07,-6.33,-9.87,-5.85,-37.42,...,4.52,0,14-Dec,3280,0.94,0,83.78,0,0,0
75832,흥아해운,3280,18-Dec,-1.16,-5.33,-12.07,-6.33,-9.87,-5.85,-37.42,...,4.52,0,15-Dec,3280,0.94,0,84.54,0,0,0
75833,흥아해운,3280,18-Dec,-1.16,-5.33,-12.07,-6.33,-9.87,-5.85,-37.42,...,4.52,0,16-Dec,3280,0.96,2.083333333,89.72,0,0,0
75834,흥아해운,3280,18-Dec,-1.16,-5.33,-12.07,-6.33,-9.87,-5.85,-37.42,...,4.52,0,17-Dec,3280,0.98,2.040816327,88.22,0,0,0
75835,흥아해운,3280,18-Dec,-1.16,-5.33,-12.07,-6.33,-9.87,-5.85,-37.42,...,4.52,0,18-Dec,3280,1.01,2.97029703,89.18,0,0,0