In [1]:
import pandas as pd
import numpy as np

In [2]:
df_a = pd.read_csv("./data1.csv", encoding="cp949")
df_b = pd.read_csv("./data2.csv", encoding='cp949')
df_a.drop(columns=["Unnamed: 0"], inplace=True)
df_b.drop(columns=["Unnamed: 0"], inplace=True)

In [6]:
df_a["채울열"]=""
df_a = df_a.sort_values(['회사명','회계년도'])
df_a['회계년도']=pd.to_datetime(df_a['회계년도'],format='%d-%b').dt.strftime('20%d-%m')
df_a.reset_index(inplace=True,drop=True)
df_a

              회사명   거래소코드     회계년도      매출원가감소율 채울열
0          AJ네트웍스   95570  2015-12          NaN
1          AJ네트웍스   95570  2016-12          NaN
2          AJ네트웍스   95570  2017-12          NaN
3          AJ네트웍스   95570  2018-12          NaN
4          AJ네트웍스   95570  2019-12          NaN
...           ...     ...      ...          ...  ..
15145  희림종합건축사사무소   37440  2018-12  2.380952381
15146  희림종합건축사사무소   37440  2019-12  2.325581395
15147          힘스  238490  2017-12          NaN
15148          힘스  238490  2018-12          NaN
15149          힘스  238490  2019-12          NaN

[15150 rows x 5 columns]

In [7]:
df_b

,회사명,거래소코드,회계년도,매출원가감소율,2011.mid,2012.mid,2013.mid,2014.mid,2015.mid,2016.mid,2017.mid,2018.mid,2019.mid
0,CMG제약,58820,Dec-11,-24.14,41.73,41.840,43.25,44.930,48.21,52.510,52.32,54.690,57.600
1,DB하이텍,990,Dec-11,-46.99,78.63,79.750,81.65,81.580,81.36,82.300,81.20,81.970,81.800
2,ES큐브,50120,Dec-11,-4.17,80.81,81.770,80.31,80.280,81.66,82.900,82.45,83.320,83.470
3,HJ중공업,97230,Dec-11,2.17,82.98,82.985,88.00,91.475,88.85,87.545,88.54,91.865,90.035
4,MH에탄올,23150,Dec-11,-2.41,59.36,59.410,58.53,60.800,64.89,65.230,68.20,66.590,68.220
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018,휴림로봇,90710,Dec-11,-2.666666667,73.85,75.130,74.77,76.930,77.48,78.730,80.02,81.150,80.980
2019,휴마시스,205470,Dec-14,0,0.00,0.000,0.00,0.000,0.00,0.000,0.00,13.425,43.410
2020,휴젤,145020,Dec-15,0,41.73,41.840,43.25,44.930,48.21,52.510,52.32,54.690,57.600
2021,흥구석유,24060,Dec-11,0,80.81,81.770,80.31,80.280,81.66,82.900,82.45,83.320,83.470
2022,흥아해운,3280,Dec-11,8.24742268,100.37,101.990,95.03,83.780,84.54,89.720,88.22,89.180,87.880

In [9]:
df_b = df_b.sort_values("회사명")
df_b.reset_index(inplace=True,drop=True)
df_b

,회사명,거래소코드,회계년도,매출원가감소율,2011.mid,2012.mid,2013.mid,2014.mid,2015.mid,2016.mid,2017.mid,2018.mid,2019.mid
0,AJ네트웍스,95570,Dec-15,0,0.000,0.000,0.000,0.00,0.000,0.000,0.000,18.040,0.000
1,CMG제약,58820,Dec-11,-24.14,41.730,41.840,43.250,44.93,48.210,52.510,52.320,54.690,57.600
2,CS홀딩스,590,Dec-11,-1.204819277,0.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000
3,DB하이텍,990,Dec-11,-46.99,78.630,79.750,81.650,81.58,81.360,82.300,81.200,81.970,81.800
4,ES큐브,50120,Dec-11,-4.17,80.810,81.770,80.310,80.28,81.660,82.900,82.450,83.320,83.470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018,흥국,10240,Dec-11,0,73.850,75.130,74.770,76.93,77.480,78.730,80.020,81.150,80.980
2019,흥국에프엔비,189980,Dec-15,0,59.360,59.410,58.530,60.80,64.890,65.230,68.200,66.590,68.220
2020,흥아해운,3280,Dec-11,8.24742268,100.370,101.990,95.030,83.78,84.540,89.720,88.220,89.180,87.880
2021,희림종합건축사사무소,37440,Dec-11,0,85.355,84.965,83.825,85.75,83.845,86.755,83.805,83.645,73.735
2022,힘스,238490,Dec-17,0,73.850,75.130,74.770,76.93,77.480,78.730,80.020,81.150,80.980

In [21]:
df_b[df_b["회사명"]=="CMG제약"].iloc[:,10-len(df_a[df_a['회사명']=='CMG제약']):10].T

               1
거래소코드      58820
회계년도      Dec-11
매출원가감소율   -24.14
2011.mid   41.73
2012.mid   41.84
2013.mid   43.25
2014.mid   44.93
2015.mid   48.21
2016.mid   52.51

In [22]:
empty_df = pd.DataFrame()

- globals()["main_{}] 함수
- globals()["side_{}] 함수

In [23]:

for i in df_b["회사명"]:
    globals()["main_{}".format(i)]=df_a[df_a["회사명"]==i].reset_index(drop=True)