In [1]:
import pandas as pd
import numpy as np

In [24]:
df1= pd.read_csv('C:/Users/user/Desktop/프로젝트2/데이터/data/회생전략/운용적.자산적 범주의 전략/투자활동현금흐름/투자활동현금흐름감소율여부결측치0처리.csv',encoding='cp949')
df1

       Unnamed: 0       회사명  거래소코드    회계년도  투자활동감소율여부(개별)  투자활동감소율여부(연결)
0               0  (주)CMG제약  58820  Dec-11              0              0
1               1  (주)CMG제약  58820  Dec-12              1              1
2               2  (주)CMG제약  58820  Dec-13              0              0
3               3  (주)CMG제약  58820  Dec-14              0              0
4               4  (주)CMG제약  58820  Dec-15              0              0
...           ...       ...    ...     ...            ...            ...
17776       17776   흥아해운(주)   3280  Dec-15              0              0
17777       17777   흥아해운(주)   3280  Dec-16              1              1
17778       17778   흥아해운(주)   3280  Dec-17              0              0
17779       17779   흥아해운(주)   3280  Dec-18              0              0
17780       17780   흥아해운(주)   3280  Dec-19              1              1

[17781 rows x 6 columns]

In [3]:
df = df.replace("#DIV/0!", 0)

In [4]:
df.to_csv("투자활동현금흐름감소율여부결측치0처리.csv",encoding="CP949")

In [25]:
df = pd.read_csv('C:/Users/user/Desktop/프로젝트2/데이터/data/수명주기/전체데이터_2011_KOSPI+KOSDAQ_수명주기_merge.csv',encoding='cp949')
df

       Unnamed: 0       회사명  거래소코드    회계년도 기업수명 기업수명(연결)
0               0  (주)CMG제약  58820  11-Dec  도입기      도입기
1               1  (주)CMG제약  58820  12-Dec  도입기      도입기
2               2  (주)CMG제약  58820  13-Dec  도입기      도입기
3               3  (주)CMG제약  58820  14-Dec  성장기      성장기
4               4  (주)CMG제약  58820  15-Dec  성장기      성장기
...           ...       ...    ...     ...  ...      ...
15145       15145   흥아해운(주)   3280  15-Dec  성숙기      성숙기
15146       15146   흥아해운(주)   3280  16-Dec  도입기      도입기
15147       15147   흥아해운(주)   3280  17-Dec  도입기      도입기
15148       15148   흥아해운(주)   3280  18-Dec  쇠퇴기      쇠퇴기
15149       15149   흥아해운(주)   3280  19-Dec  쇠퇴기      쇠퇴기

[15150 rows x 6 columns]

In [26]:
df_OUTER_JOIN = pd.merge(df1,df, on=['회사명','회계년도'],how='right')
df_OUTER_JOIN
# df_ = df.drop(['Unnamed: 8','Unnamed: 9'],axis=1)

,Unnamed: 0_x,회사명,거래소코드_x,회계년도,투자활동감소율여부(개별),투자활동감소율여부(연결),Unnamed: 0_y,거래소코드_y,기업수명,기업수명(연결)
0,NaN,(주)CMG제약,NaN,11-Dec,NaN,NaN,0,58820,도입기,도입기
1,NaN,(주)CMG제약,NaN,12-Dec,NaN,NaN,1,58820,도입기,도입기
2,NaN,(주)CMG제약,NaN,13-Dec,NaN,NaN,2,58820,도입기,도입기
3,NaN,(주)CMG제약,NaN,14-Dec,NaN,NaN,3,58820,성장기,성장기
4,NaN,(주)CMG제약,NaN,15-Dec,NaN,NaN,4,58820,성장기,성장기
...,...,...,...,...,...,...,...,...,...,...
15145,NaN,흥아해운(주),NaN,15-Dec,NaN,NaN,15145,3280,성숙기,성숙기
15146,NaN,흥아해운(주),NaN,16-Dec,NaN,NaN,15146,3280,도입기,도입기
15147,NaN,흥아해운(주),NaN,17-Dec,NaN,NaN,15147,3280,도입기,도입기
15148,NaN,흥아해운(주),NaN,18-Dec,NaN,NaN,15148,3280,쇠퇴기,쇠퇴기
15149,NaN,흥아해운(주),NaN,19-Dec,NaN,NaN,15149,3280,쇠퇴기,쇠퇴기

In [23]:
df1.isin(df["회사명"])

         회사명  거래소코드   회계년도  투자활동감소율여부(개별)  투자활동감소율여부(연결)
0       True  False  False          False          False
1       True  False  False          False          False
2       True  False  False          False          False
3       True  False  False          False          False
4       True  False  False          False          False
...      ...    ...    ...            ...            ...
17776  False  False  False          False          False
17777  False  False  False          False          False
17778  False  False  False          False          False
17779  False  False  False          False          False
17780  False  False  False          False          False

[17781 rows x 5 columns]