In [1]:
import pandas as pd

In [2]:
products = {'Item':['아이폰','갤럭시노트20','안드로이드'],
            'Price':[8000,120,100]}

print(products)

{'Item': ['아이폰', '갤럭시노트20', '안드로이드'], 'Price': [8000, 120, 100]}

In [3]:
products

{'Item': ['아이폰', '갤럭시노트20', '안드로이드'], 'Price': [8000, 120, 100]}

In [6]:
df10 = pd.DataFrame(products)
df10

      Item  Price
0      아이폰   8000
1  갤럭시노트20    120
2    안드로이드    100